/*
Author & productowner: Teun Blijlevens, Umanise.
Date:
Contact: mail@umanise.nl
*/


#header a:link, #header a:visited {
    text-decoration: none;
}
#header a:hover {
    color: #FFCA4C;
}
#hwrapper{
  width:80%;
  min-width: 520px;
  height: 100%;
  border-style: solid;
  border-width: 0px;
  margin: auto;

}

#logo {
	z-index: 5;
  width:80px;
  height:100%;
  background: white;
	border-width: 0px;
	border-style: solid;
  float:left;
  text-align:left;
  pointer-events: all;
  margin-right: 1.3rem;
;
}

.menu {
  position: relative;
  right: 0px;
  z-index: 5;
  width:18%;
  height:100%;
  background-color: white;
	border-width: 0px 0px 0px 1px;
  border-color: #000099;
	border-style: solid;
  line-height: 100px;
  float: left;
  pointer-events: all;
}
#index {
  border-width: 0px;
}
#contact {
  border-bottom-right-radius: 5px;
}

/*/////////////////////////////// HEADER ENDS HERE ///////////////////////////////*/


#content {
  position: relative;
  z-index: 5;
  top: 125px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
	Width: calc(100% - 25px);
	Height: auto;
	border-radius: 0%;
	border-width: 0px;
	border-color: inherit;
	border-style: solid;
}

#summary {
	position: relative;
	top: 10%;
	z-index: 6;
  width:80%;
  min-width: 520px;
  height:auto;
	background-color: #FFCA4C;
  background-image: url('../images/geelachter.png');
	border-radius: 5px;
  padding: 5px 15px 0.5rem 15px;
  margin:auto;
  margin-bottom: 1.3rem;
  display: inline-block;
  text-align: left;
  clear: both;
  }

.col1 {
  position: relative;
  width: 195px;
  padding: 5px 5px 5px 5px;
  float: left;
  white-space: nowrap;
  }
.col2 {
  position: relative;
  width: 150px;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  }
.col3 {
  position: relative;
  width: 180px;
  padding: 5px 5px 5px 5px;
  float: right;
  }
.col4 {
  position: relative;
  width: 100%;
  float: left;
  }
.logo {
  margin:auto;
  margin: 5px 35px 5px 35px;
  float: left;
}
.box {
	position: relative;
	top: 10%;
	z-index: 5;
  width:80%;
  min-width: 520px;
  height:auto;
  min-height:150px;
  height:auto !important;       /* for IE as it does not support min-height */
  height:150px;                  /* for IE as it does not support min-height */
  background-color: #FFCA4C;
  background-image: url('../images/geelachter.png');
	border-radius: 5px;
	border-width: 0px 0px 0px 0px;
	border-color: inherit;
	border-style: solid;
  padding: 5px 15px 0.5rem 15px;
  margin:auto;
  margin-bottom: 1.3rem;
  display: inline-block;
  text-align: left;
  }


.hidden {   /* diensten*/
    max-height: 140px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin-bottom: 1rem;
}
.hidden2 {  /* portfolio*/
    max-height: 240px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin-bottom: 1rem;
}
.headerclick {
  cursor: pointer;
}
.headerclick:hover {
  text-decoration: underline;
}
#dienstenimg {
  position: relative;
	z-index: 5;
  width: 200px;
	border-width: 0px;
	border-color: inherit;
	border-style: solid;
  float: right;
  margin: 10px 0px 3px 10px;
  clear: none;
  text-align: right;
  cursor: pointer;
}
#portfolioimg {
	position: relative;
	z-index: 5;
  top:15px;
  width: 200px;
	border-width: 0px;
	border-color: inherit;
	border-style: solid;
  float: right;
  margin: 10px 10px 3px 10px;
  text-align: right;
  cursor: pointer;
}
#contactimg {
  position: relative;
	z-index: 5;
  width: 215px;
  float: left;
  margin: 10px 25px 3px 10px;
}
.methodeimg{
  position: relative;
  width:80%;
  margin: auto;
  display: block;
  }
.resultaatimg{
  position: relative;
  width:80%;
  margin: auto;
  display: block;
  }
.indeximg{
  position: relative;
  width:95%;
  margin: auto;
  display: block;
  margin-top: 20px
  margin-bottom: 20px;
}
.leesmeer {
  position: relative;
  bottom: 5px;
  color: #000099;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.3rem;
  /*
  border-width: 1px 0 0 0;
  border-color: #000099;
  border-style: solid;
  */
}

#hoverpopup {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

#popup {
  z-index: 7;
  position: fixed;
  width: 200px;
  height:auto;
  min-height:20px;
  height:auto !important;       /* for IE as it does not support min-height */
  height:20px;                  /* for IE as it does not support min-height */
  background-color: white;
  border-width: 1px;
	border-style: solid;
  border-radius: 5px;
  text-align: left;
  line-height: normal;
  padding: 5px 5px 5px 5px;
  display: none;
  box-shadow: 0 0 5px black;
  font-size: 0.9rem;
}

#totop {
  position: fixed;
  z-index: 5;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width:100px;
  height:35px;
  background-image: url('../images/achter-darksmall.svg');
  border-radius: 5px 5px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: none;
  box-shadow: 0px 0 5px black;
  font-size: 0.9rem;
}
#totop a:hover {
    color: #FFCA4C;

}
