#memory_board{			/*style of the board */
	index: 5;
	background:#CCC;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
#memory_board > div{		/* style of your cards */
	background: #000099;			/* this is the color of your closed cards (javascript will fill the card with a picture once it's clicked). change this to any hex color codes (just google '#000000' and you'll get a color picker with their hex codes) or you can just type a common color like 'black' or 'green'. Remember to also change this color in your script.js  in the flip2Back function*/
	border:#000 1px solid;
	width:110px;
	height:110px;
	float:left;
	margin:10px;
	padding:00px;
	font-size:64px;
	cursor:pointer;
	text-align:left;
}
#compliment{			/* when the player has a set this element will show a compliment */
	index: 6;
	position: absolute;
	left:0px;
	top: 0px;
	background: none;
	width:100%;
	height:540px;
	padding:24px;
	margin:0px auto;
	color: Green;					/*color of the compliment */
	font-size: 50px;			/*size of the text */
	font-weight: bold;
	display: none;			/* initially this element is invisible. Javascript will let it fade in once a set of three cards is completed */
}
#box{
	position: relative;
	top: 40%;
	background: Black;		/* color of box around the compliment */
	width:20%;
	height:80px;
	padding:24px;
	margin:0px auto;
	line-height: 80px;
	text-align: center;
	vertical-align: middle;
	border-radius: 3%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
}

#endscore{
	index: 6;
	position: absolute;
	left:0px;
	top: 0px;
	background: none;
	width:100%;
	height:540px;
	padding:24px;
	margin:0px auto;
	color: Green;					/*color of the score */
	font-size: 20px;			/*size of the text */
	display: none;
}
#boxscore{
	position: relative;
	top: 40%;
	background: Black;		/* color of box around the score */
	width:20%;
	height:150px;
	padding:24px;
	margin:0px auto;
	text-align: left;
	border-radius: 3%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
}

a:link {
    color: #F8C845;		/*color of (new) links*/
}

a:visited {
    color: #000099;		/*color of links that have already been visited*/
}
