html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -200px; 
    margin-left: -200px;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 80%;
    left: 80%;

    height: 75px;
    width: 75px;
    margin-left: -0px;
    margin-top: -0px;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 52%;
    left: 51%;

    width: 500px;
    height: 500px;
    margin-top: -375px;
    margin-left: -375px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
      -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}


#moon {
    position: absolute;
    top: 0;
    left: 0%;

    height: 35px;
    width: 35px;
    margin-left: -0px;
    margin-top: -00px;
}

#moon-orbit {
    /* For Section #2 */
    position: absolute;
    top: 69%;
    left: 69%;

    width: 180px;
    height: 180px;
    margin-top: -0px;
    margin-left: -0px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
      -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(380deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}