/*
Theme Name:     Graphene Child
Theme URI:      http://example.com/
Description:    Child theme for the Graphene theme
Author:         Teun Blijlevens 
Author URI:     http://example.com/about/
Template:       graphene
Version:        1.0
*/
@import url("../graphene/style.css");
/* Your modification goes here */


/* ----------------------Body tekst lay-out---------------------- */
body {
	font: normal 12px verdana;
	color: #2c2b2b;
	line-height: 18px;
	position: relative;
}

/* ----------------------Top level header menu, default state---------------------- */

#header-menu > li {
	font: normal 14px calibri;
	margin: 0 30px 0 0;
}
#header-menu > li > a {
	color: #64829C !important;
	line-height: 16px;
	padding: 9px 5px 10px;
}
#header-menu-wrap {
	background: #EBF0F3 !important;
}
#header-menu {

}


/* ----------------------Top level header menu, hover and current state---------------------- */
#header-menu > li:hover,
#header-menu > li.current-menu-item,
#header-menu > li.current-menu-ancestor {
	background: left -300px repeat-x #64829C !important;
}
#header-menu > li:hover > a,
#header-menu > li.current-menu-item > a,
#header-menu > li.current-menu-ancestor > a {
	color: #F9C847 !important;
}
#header-menu > li:hover > a > span,
#header-menu > li.current-menu-item > a > span,
#header-menu > li.current-menu-ancestor > a > span {
	color: #484848 !important;
}
#header-menu > li.menu-item-ancestor:hover > a,
#header-menu > li.current-menu-item > a,
#header-menu > li.current-menu-ancestor > a {
	background-position: -877px -192px;
}


/* ----------------------Header search input---------------------- */
#top_search input {
	box-shadow: inset 0 0 3px #333;
	border: none;
	color: #547692;
	padding: 3px 7px 2px 5px;
	width: 79.5455%;
	height: 18px;
	float: left;
}


/* ----------------------post title color---------------------- */
.post-title,
.post-title a,
.post-title a:visited {
	font: 22px arial;
	color: #000099;
	margin-top: -3px;
}


/* ----------------------Buttons----------------------  */

.home
.block-button,
.block-button:visited,
.Button,
.button,
#commentform #submit {
	background: url(images/bg-block-button.png) left bottom repeat-x #547692;
	background: -moz-linear-gradient(#64829C, #64829C);
	background: -webkit-linear-gradient(#7898B1, #46647B);
	background: linear-gradient(#64829C, #64829C);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	box-shadow: 0 0 5px #555;
	
	border: 1px solid #46647B;
	color: #F9C847;
	cursor: pointer;
	display: block;
	float: left;
	font: bold 12px arial;
	margin: 10px 5px 5px;
	padding: 5px 15px 6px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 #16497E;
}

.home
.block-button:hover,
.button:hover,
#commentform #submit:hover {
	background: url(images/bg-block-button-hover.png) left bottom repeat-x #547692;
	background: -moz-linear-gradient(#547692, #547692);
	background: -webkit-linear-gradient(#85A0B8, #4F718A);
	background: linear-gradient(#547692, #547692);
	border: 1px solid #4F718A;
	color: #F9C847;
	cursor: pointer;
	text-decoration: none;
}


a.more-link,
a.more-link span {
	display: block;
	margin: 10px 5px 5px 0;
	text-decoration: none !important;
}

/* ----------------------Comment link to the left---------------------- */
.comment-link {
	float: left;
	padding-top: 1px;
	text-align: right;
}


/* ----------------------Previous and next links---------------------- */
#previous,
#previous a,
#previous a:visited,
#next-post,
#next-post a,
#next-post a:visited {
	color: #000099;
	font: 12px verdana;
	text-decoration: none;
}
#previous {
	float: left;
}
#next-post {
	float: right;
	text-align: right;
}

#previous a:hover,
#next-post a:hover {
	color: #000099;
	font: 12px verdana;
	text-decoration: underline;
}


/* ----------------------date flag---------------------- */
.post .date .month {
	font: normal 10px tahoma;
}


/* ----------------------opsommings tekens---------------------- */
.entry-content ul li {
	list-style-image: none;
	margin-bottom: 7px;
}


/* ----------------------Image captions---------------------- */
.wp-caption-text {
	color: #000 !important;
	font: normal 11px calibri !important;
	margin: 0 5px !important;
	padding-bottom: 5px;
	text-align: center;
}


/* ----------------------Koppen ´over de schrijver´ en ´laat een reactie achter´ lay-out---------------------- */
.single .author-info {
	background: #EBF0F3;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 10px;
	border-bottom: 1px solid #547692;
}

.single .author_h4 {
	color: #547692;
	font: normal 18px arial;
	margin: 15px 0 5px 10px;
}

#comments > h4,
#respond > h3,
h3.author-post-list {
	background: url(images/sprite_master.png) -880px 6px no-repeat;
	clear: both;
	color: #547692;
	font: normal 20px arial;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 0;
}


/* ----------------------Comment form---------------------- */
#commentform {
	background: #EBF0F3;
	padding: 10px 10px 10px;
	border-bottom: 1px solid #547692;
}
#commentform p {
	color: #606060;
	padding: 0px 0px 5px 0px;
}
#commentform input {
	border: 1px solid #e3e3e3;
	color: #2c2b2b;
	font: normal 12px verdana;
	padding: 3px 4px;
	height: 16px;
}
#commentform textarea {
	border: 1px solid #e3e3e3;
	color: #2c2b2b;
	font: normal 12px verdana;
	padding: 5px 10px 5px 10px;
	height: 90px;
}
.one-column #commentform textarea {
	width: 700px !important;
}
#comments ol li.comment.depth-1, 
#comments ol li.pingback.depth-1, 
#comments ol li.trackback.depth-1 {
	background: #EBF0F3;
	margin-bottom: 10px;
	border-bottom: 1px solid #547692;
	border-left: 1px solid #547692;
	border-top: none;
}
#comments ol.children li.comment {
	padding-top: 10px;
	border-bottom: 1px solid #547692;
	border-left: 1px solid #547692;
	border-top: none;
}

#comments li.bypostauthor.comment.depth-1,
#comments ol.children li.bypostauthor {
	background: #EBF0F3;
	border-top: none;
	border-bottom: 1px solid #F9C847;
	border-left: 1px solid #F9C847;
}


/* ----------------------Footer---------------------- */
#footer {
	background: left -1352px repeat-x #EBF0F3;
	border-top: 1px solid #547692;
	padding-top: 20px;
	margin-bottom: 30px;
	min-height: 80px;
	position: relative;
	color: #000;
}
#copyright {
	margin: 0 10px 10px;
	float: right;
}
#copyright p{
	margin-top: 10px;
}
#copyright h3{
	font: normal 14px arial;
	color: #000;
}
#copyright .cc-logo{
	height: 32px;
	width: 96px;
	background: url(images/sprite_master.png) -417px -240px no-repeat;
}
#copyright .cc-logo span{
	display: none;
}
#footer a,
#footer a:visited {
	color: #000099;
	text-decoration: none;
}
#footer a:hover {
	border-bottom: 1px solid #000099;
}

.footer-menu-wrap {
	font-size: 14px;
    float: left;
    text-align: left;
	margin: 0 10px 0;
}
#developer {
    text-align: right;
    clear: right;
    padding: 10px 0;
	float: right;
}