/*
Author & productowner: Teun Blijlevens, Umanise.
Date:
Contact: mail@umanise.nl
*/

html, body {

    width: 100%;
    height: 100%;
    background-color: none;
    font-size: 35px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: black;
    border-color: #000099;
    line-height: 45px;
}

a:link {
    color: #F8C845;
}

a:visited {
    color: #000099;
}

h2 {
  font-size: 50px;
}

#header {
  position: fixed;
	z-index: 6;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  height:150px;
	Width: calc(100% - 25px);
	border-radius: 1%;
	border-width: 0px;
	border-color: inherit;
	border-style: solid;
  text-align:center;
  font-size: 35px;
  font-weight: bold;
  color: #000099
}
