/*  
Author & productowner: Teun Blijlevens, Umanise.
Date: 01 October 2015 
Use of this product is only allowed  if permission  is given by the productowner.
Contact: mail@umanise.nl  
*/

html, body {

    width: 100%;
    height: 100%;
    background-color: black;
}



#maindiv {
	position: absolute;
	z-index: 5;
	Width: 100%;
	Height: 100%;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
}


#phonediv {
	position: absolute;
	top: 20px;
	left: 450px;
	z-index: 5;
	Width: 350px;
	Height: 622px;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
    box-shadow: 0 0 20px white;
	text-align: center;

}


#PhoneImg {
	position: absolute;
	z-index: 5;
	Width: 100%;
	Height: 100%;
}

#E3Live {
	position: absolute;
	top: 26px;
	left: 136px;
	z-index: 6;
	Width: 77px;
	Height: 44px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}	

#Back {
	position: absolute;
	top: 577px;
	left: 45px;
	z-index: 6;
	Width: 70px;
	Height: 44px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 5%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}	



/* Startpagina */



#jobs {
	position: absolute;
	top: 84px;
	left: 9px;
	z-index: 5;
	Width: 331px;
	Height: 107px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#materialen {
	position: absolute;
	top: 190px;
	left: 9px;
	z-index: 5;
	Width: 331px;
	Height: 107px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}


/* Jobs pagina */



#harmonie {
	position: absolute;
	top: 83px;
	left: 9px;
	z-index: 5;
	Width: 331px;
	Height: 90px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}



/* Harmonie pagina */

#home {
	position: absolute;
	top: 97px;
	left: 30px;
	z-index: 5;
	Width: 55px;
	Height: 30px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#cashencounts {
	position: absolute;
	top: 97px;
	left: 109px;
	z-index: 5;
	Width: 55px;
	Height: 30px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#planogram {
	position: absolute;
	top: 94px;
	left: 188px;
	z-index: 5;
	Width: 55px;
	Height: 33px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#clientinfo {
	position: absolute;
	top: 97px;
	left: 266px;
	z-index: 5;
	Width: 55px;
	Height: 30px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#candyleft {
	position: absolute;
	top: 190px;
	left: 9px;
	z-index: 5;
	Width: 332px;
	Height: 139px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#message {
	position: absolute;
	top: 10px;
	left: 298px;
	z-index: 6;
	Width: 22px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
	color: red; 
	text-align: center;
}
#message2 {
	position: absolute;
	top: 5px;
	left: 298px;
	z-index: 7;
	Width: 22px;
	height: 22px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 5%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#donevinkcleft {
	position: absolute;
	top: 119px;
	left: 66px;
	z-index: 5;
	Width: 12px;
	Height: 12px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}


#notepage {
	position: absolute;
	top: 185px;
	left: 9px;
	z-index: 6;
	Width: 332px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
	display: none;
}

#notekees {
	position: absolute;
	top: 45px;
	left: 9px;
	z-index: 6;
	Width: 314px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#delete1 {
	position: absolute;
	top: 117px;
	left: 100px;
	z-index: 6;
	Width: 107px;
	height: 33px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#notejustus {
	position: absolute;
	top: 215px;
	left: 9px;
	z-index: 6;
	Width: 314px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#delete2 {
	position: absolute;
	top: 117px;
	left: 100px;
	z-index: 6;
	Width: 107px;
	height: 33px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 1px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}



#candyright {
	position: absolute;
	top: 334px;
	left: 9px;
	z-index: 5;
	Width: 332px;
	Height: 139px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#hamer {
	position: absolute;
	top: 5px;
	left: 292px;
	z-index: 5;
	Width: 28px;
	Height: 25px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#solvedvink {
	position: absolute;
	top: 119px;
	left: 206px;
	z-index: 5;
	Width: 12px;
	Height: 12px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#donevinkcright {
	position: absolute;
	top: 119px;
	left: 66px;
	z-index: 6;
	Width: 12px;
	Height: 12px;
	cursor: no-drop;
	opacity: 0;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: black;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}


#planogram2 { 
	position: absolute;
}	
 #containment-wrapper { 
	position: absolute;
	left: -190px;
	z-index: 5; 
	width: 800px;
	border:0px solid white; 
	padding: 10px;
	margin-bottom:20px; 
 	  
  }
  
#twoplanograms {
	position: absolute;
	top: 140px;
	left: 289px;
	z-index: 5;
	Width: 242px;
	height: 426px;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
	overflow:hidden;
	cursor: e-resize;

}


#cleftbutton {
	position: absolute;
	top: 185px;
	left: 17px;
	z-index: 5;
	Width: 76px;
	Height: 35px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#crightbutton {
	position: absolute;
	top: 234px;
	left: 16px;
	z-index: 5;
	Width: 76px;
	Height: 35px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#drawer1 {
	position: absolute;
	top: 185px;
	left: 105px;
	z-index: 5;
	Width: 225px;
	Height: 45px;
	cursor: pointer;
	opacity: 0;
	background-color: white;
	border-radius: 5%;
	border-width: 1px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#drawer2 {
	position: absolute;
	top: 245px;
	left: 105px;
	z-index: 5;
	Width: 225px;
	Height: 45px;
	cursor: pointer;
	opacity: 0;
	background-color: white;
	border-radius: 5%;
	border-width: 1px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}


#vulaantalnavi {
	position: absolute;
	top: 140px;
	left: 99.5px;
	z-index: 5;
	Width: 242px;
	Height: 426px;
	opacity: 1;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
	overflow:hidden;
	
}

#containment-wrappery { 
	position: absolute;
	top: -155px;
	z-index: 5; 
	height: 607px;
	border:0px solid white; 

 	  
  }
  
#vulaantallen {
	position: absolute;
	top: 200px;
	left: 0px;
	z-index: 5;
	Width: 240px;
	Height: 205px;
	opacity: 1;
	background-color: black;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
	overflow:hidden;
	cursor:n-resize;
}


#naarindeling {
	position: absolute;
	top: 267px;
	left: 23px;
	z-index: 5;
	Width: 43px;
	Height: 31px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#vorigela {
	position: absolute;
	top: 267px;
	left: 91px;
	z-index: 5;
	Width: 43px;
	Height: 31px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}
#volgendela {
	position: absolute;
	top: 267px;
	left: 160px;
	z-index: 5;
	Width: 43px;
	Height: 31px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 10%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#cursorvak {
	position: absolute;
	top: 205px;
	left: 307px;
	z-index: 5;
	Width: 20px;
	Height: 20px;
	cursor: pointer;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}

#back2 {
	position: absolute;
	top: 145px;
	left: 37px;
	z-index: 6;
	Width: 43px;
	Height: 30px;
	cursor: pointer;
	opacity: 0;
	background-color: black;
	border-radius: 5%;
	border-width: 1px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: center;
}	

#testdiv {
	position: absolute;
	top: 45px;
	left: -330px;
	z-index: 5;
	Width: 260px;
	height: 470px;
	opacity: 1;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: left;
}
#testdivtext {
	position: absolute;
	top: 30px;
	left: 0px;
	z-index: 5;
	opacity: 1;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: left;
	font-size: 13px;
}

#testdiv2 {
	position: absolute;
	top: 95px;
	left: 430px;
	z-index: 5;
	Width: 260px;
	height: 470px;
	opacity: 1;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: left;
}
#testdivtext2 {
	position: absolute;
	top: 30px;
	left: 0px;
	z-index: 5;
	opacity: 1;
	background-color: none;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
	text-align: left;
	font-size: 13px;
}
i {
font-size: 11px;
}