html, body {

    width: 100%;
    height: 100%;
    background-color: black;
}

#maindiv {
	position: absolute;
	z-index: 6;
	top: 50%;
	Width: 75px;
	Height: 50px;
}

#firstdiv {
	position: absolute;
	top: 0%;
	z-index: 5;
	cursor: pointer; 
	Width: 75px;
	Height: 50px;
	background-color: #000099;
	border-radius: 30%;
	border-width: 0px;
	border-color: white;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
    box-shadow: 0 0 50px #000099;
}

#subdiva {
	position: absolute;
	display: none;
	z-index: 4;
	top: 0%;
	Width: 75px;
	Height: 50px;
	background-color: green;
	border-radius: 50%;
	border-width: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
    box-shadow: 0 0 50px green;
}

#subdivb {
	position: absolute;
	display: none;
	z-index: 3;
	top: 0%;
	Width: 75px;
	Height: 50px;
	background-color: red;
	border-radius: 50%;
	border-width: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
    box-shadow: 0 0 50px red;
}

#subdivc {
	position: absolute;
	display: none;
	z-index: 2;
	top: 0%;
	Width: 75px;
	Height: 50px;
	background-color: white;
	border-radius: 50%;
	border-width: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	color: black; 
    box-shadow: 0 0 50px white;
}

#subdivd {
	position: absolute;
	display: none;
	top: 0%;
	z-index: 1;
	Width: 75px;
	Height: 50px;
	background-color: orange;
	border-radius: 50%;
	border-width: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	color: white; 
    box-shadow: 0 0 50px orange;
}

p {
	text-align: center;
	vertical-align: middle;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;

    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -200px; 
    margin-left: -200px;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 80%;
    left: 80%;

    height: 75px;
    width: 75px;
    margin-left: -0px;
    margin-top: -0px;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 52%;
    left: 51%;

    width: 500px;
    height: 500px;
    margin-top: -375px;
    margin-left: -375px;
    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
      -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}


#moon {
    position: absolute;
    top: 0;
    left: 0%;
    height: 35px;
    width: 35px;
    margin-left: -0px;
    margin-top: -00px;
}

#moon-orbit {
    /* For Section #2 */
    position: absolute;
    top: 69%;
    left: 69%;

    width: 180px;
    height: 180px;
    margin-top: -0px;
    margin-left: -0px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
      -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(380deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#zontekst {
    position: relative;
    width: 250px;
    height: 50px;
	color: white;
	position: absolute;
	left: 10%;
	Top: 10%;
}    
#mario {
    position: relative;
    height: 100px;
	text-align: center;
	color: white;
	cursor: pointer;
	left: -380px
}
#mariob {
    position: relative;
    width: 250px;
    height: 50px;
	color: white;
	position: absolute;
	left: 45%;
	Top: 10%;
}    
#marioc {
    position: fixed;
	display: block;
    width: 20px;
    height: 500px;
	background-color: green;
	position: absolute;
	left: 260px;
	Top: 200px;
} 
#mariod {
    position: fixed;
	display: block;
    width: 780px;
    height: 20px;
	background-color: green;
	position: absolute;
	left: 260px;
	Top: 700px;
}  
#marioe {
    position: fixed;
	display: block;
    width: 20px;
    height: 500px;
	background-color: green;
	position: absolute;
	left: 1020px;
	Top: 200px;
}      
#mariof {
    position: fixed;
	display: block;
    width: 200px;
    height: 100px;
	background-color: green;
	position: absolute;
	left: 260px;
	Top: 620px;
	border-radius: 20%;
}      
#mariog {
    position: fixed;
	display: block;
    width: 200px;
    height: 100px;
	background-color: green;
	position: absolute;
	left: 840px;
	Top: 620px;
	border-radius: 20%;
}      