html, body {

    width: 100%;
    height: 100%;
    background-color: #a4b5c1;
}

#maindiv {
	position: absolute;
	z-index: 5;
	Width: 100%;
	Height: 100%;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white;
}

#maintext {
	position: absolute;
	z-index: 5;
	left: 30%;
	top: 10%;
	Width: 40%;
	Height: 85%;
	border-radius: 0%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;
	font-family: Verdana, Arial, Sans-Serif;
	color: white;
}
#intro {
  z-index: 5;
  font-family: Verdana, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15;
  color: #000000;
}

#links {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 18%;
  ;z-index: 5;
  font-family: Verdana, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15;
  color: #000000;
}
.question {
  z-index:5;
  position: static;
  width: 100%;
	font-family: Verdana, Arial, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15;
  color: #000000;
  cursor: pointer;
}
.answer {
  z-index: 5;
  position: inherit;
  font-family: Verdana, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15;
  color: #000000;
  cursor: default;
}

.title {
	font-family: Verdana, Arial, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
	color: #650606;
  background-color: #b0bfc9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.category {
	background-color: #b0bfc9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

}
.form1 {
  z-index:5;
  position: static;
  width: 100%;
	font-family: Verdana, Arial, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15;
  color: #000000;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  color: black;
  font-weight: normal;
}
