/*
Author & productowner: Teun Blijlevens, Umanise.
Date: January 9th 2017
(Re-)Use of this code is only allowed if written permission is given by the productowner.
Contact: mail@umanise.nl
*/

html, body {

    background-color: black;
    font-size: 15px;
    font-family: Arial, Sans-Serif;
    color: white;
}

#maindiv {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 5;
	Width: 800px;
	Height: 530px;
	background-color: black;
	border-radius: 1%;
	border-width: 0px;
	border-color: blue;
	border-style: solid;

}

#title {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 5;
	width: 250px;
	Height: 30px;
	background-color: black;
  font-size: 18px;
  font-weight: bold;
}

#Foto1 {
	position: absolute;
	top: 40px;
	left: 50px;
	z-index: 5;
	width: 250px;
	height: 250px;
	background-color: black;
}

#title2 {
	position: absolute;
	top: 10px;
	left: 350px;
	z-index: 5;
	width: 250px;
	Height: 30px;
	background-color: black;
  font-size: 18px;
  font-weight: bold;
}
#Foto2 {
	position: absolute;
	top: 40px;
	left: 350px;
	z-index: 5;
	width: 250px;
	height: 250px;
	background-color: black;
}

#title3 {
	position: absolute;
	top: 270px;
	left: 50px;
	z-index: 5;
	width: 280px;
	Height: 30px;
	background-color: black;
  font-size: 18px;
  font-weight: bold;
}
#Foto3 {
	position: absolute;
	top: 300px;
	left: 50px;
	z-index: 5;
	width: 250px;
	height: 250px;
	background-color: black;
}
#Foto4 {
	position: absolute;
	top: 300px;
	left: 350px;
	z-index: 5;
	width: 250px;
	height: 250px;
	background-color: black;
}
